.main-icon{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 70px;
    justify-content: space-between;
   
}

.box{
    padding: 30px;
}

.box h4{
    font-size: 20px ;
    text-align: center;
    padding: 10px;
}

